<div class="dialog-container">
  @if(isLoading) {
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  }

  <h2 mat-dialog-title>Benutzer bearbeiten</h2>
  <mat-dialog-content>
    <form>
      <div>
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Strasse</mat-label>
          <input
            matInput
            [disabled]="isLoading"
            [(ngModel)]="user.street"
            name="street"
          />
        </mat-form-field>
      </div>
      <!-- Straße -->

      <div>
        <mat-form-field appearance="fill" class="mr-16">
          <mat-label>PLZ</mat-label>
          <input
            matInput
            [disabled]="isLoading"
            [(ngModel)]="user.zipCode"
            name="zipCode"
          />
        </mat-form-field>
  
        <!-- Stadt -->
        <mat-form-field appearance="fill">
          <mat-label>Stadt</mat-label>
          <input
            matInput
            [disabled]="isLoading"
            [(ngModel)]="user.city"
            name="city"
          />
        </mat-form-field>
      </div>
      <!-- PLZ -->
    </form>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button mat-flat-button color="warn" (click)="dialogRef.close()">
      Abbrechen
    </button>
    <button mat-raised-button color="primary" (click)="saveAddress()">
      Speichern
    </button>
  </mat-dialog-actions>
</div>
