<div class="dialog-container">
  @if(isLoading) {
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  }
  <h2 mat-dialog-title>Benutzer bearbeiten</h2> 

  <mat-dialog-content>
    <form>
      <div>
        <!-- Vorname -->
        <mat-form-field appearance="fill" class="mr-16" >
          <mat-label>Vorname</mat-label>
          <input
            matInput
            [disabled]="isLoading"
            [(ngModel)]="user.firstName"
            name="firstName"
          />
        </mat-form-field>

        <!-- Nachname -->
        <mat-form-field appearance="fill">
          <mat-label>Nachname</mat-label>
          <input
            matInput
            [disabled]="isLoading"
            [(ngModel)]="user.lastName"
            name="lastName"
          />
        </mat-form-field>
      </div>

      <div>
        <!-- Email -->
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Email</mat-label>
          <input
            matInput
            [disabled]="isLoading"
            [(ngModel)]="user.email"
            name="email"
          />
        </mat-form-field>
      </div>

      <div>
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Geburtsdatum</mat-label>
          <input
            matInput
            [disabled]="isLoading"
            [(ngModel)]="user.birthDate"
            name="birthDate"
            [matDatepicker]="picker"
          />
          <mat-datepicker-toggle
            matIconSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
      <!-- Geburtsdatum -->
    </form>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button mat-flat-button color="warn" (click)="dialogRef.close()">
      Abbrechen
    </button>
    <button mat-raised-button color="primary" (click)="saveUser()">
      Speichern
    </button>
  </mat-dialog-actions>
</div>
